@font-face {
  font-family: "Nevermine";
  src: url("../../fonts/NevermineDEMO.otf") format("truetype");
}

section {
  color: white;
  font-size: 60px;
  margin-bottom: 256px;
  font-family: Nevermine;
}
